[submodule "crates/wgpu-patched"]
	path = crates/wgpu-patched
	url = git@github.com:fand/wgpu.git
	branch = notan-wgpu-integration
[submodule "crates/glow-patched"]
	path = crates/glow-patched
	url = git@github.com:fand/glow.git
	branch = notan-wgpu-integration
[submodule "crates/notan-patched"]
	path = crates/notan-patched
	url = git@github.com:fand/notan.git
	branch = notan-wgpu-integration
